/app/cache/*
!app/cache/.gitkeep
/app/config/*.local.yml
/app/config/*/*.local.yml
/app/logs/*
!app/logs/.gitkeep
/app/config/parameters.yml
/app/web/bundles
/build
/app/deps
*.phar
*.lock
/.bldr/vendor
/builds
/app/spool
